
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;

    background-image: url('blood1.webp');
      background-size: cover; /* Makes the image cover the entire background */
      background-position: center; /* Centers the image */
      background-repeat: no-repeat; /* Prevents repeating of the image */
      background-attachment: fixed; /* Keeps the background fixed while scrolling */
      margin: 0;
      padding: 0;
      
      

}

h1, h2 {
    color: #ffffff;
    text-align: center;
}

.container {
    width: 600px;
    margin: 0 auto;
    background: #e33724;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

label {
    display: block;
    margin: 10px 0;
    color: #ffffff;
}

input {
    padding: 10px;
    width: 95%;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    background-color: #75cbf3;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #a93226;
}

.details-section {
    background-color: #f2f2f2;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

#responseMessage {
    text-align: center;
    color: rgb(0, 0, 0);
}

.back-symbol
  {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
  }


.back-symbol:hover
  {
      background-color: #c14b3e;
  }